<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>squrl password</title>
        <style>
            html {
                background-color: rgb(17 24 39);
                font-family: Helvetica;
                font-size: 1.2rem;
                color: white;
                overflow: hidden;
            }
            body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 100vh;
                width: 100vw;
            }
            .Password__disclaimer {
                font-size: 0.6rem;
                margin-top: 10px;
                text-align: center;
            }
            .Password__disclaimer a {
                color: rgb(44, 139, 255);
                text-decoration: none;
            }
            .Password__header {
                font-size: 1.1rem;
            }
            .Password__input input {
                font-size: 0.9rem;
                padding: 0.5rem;
                border: none;
                border-radius: 3px;
            }
            .Password__input input[type="text"] {
                width: 80%;
            }
            .Password__input input::placeholder {
                opacity: 0.3;
            }
            .Password__input p {
                margin-top: 0;
            }
            .Password__squrl {
                transition: transform .5s ease-in-out;
                margin-top: -60%;
                z-index: -10;
                transform: scaleX(-1) rotate(15deg);
                scale: 0.4;
            }
            .Password__squrl:hover {
                transform: scaleX(-1) rotate(375deg);
            }
            .Password__wrapper {
                background-color: rgb(55 65 81);
                padding: 2rem;
                width: 25em;
                border-radius: 0.5rem;
            }
        </style>
    </head>
    <body>
        <a href="https://squrl.dev/"><img src="/squrl.png" class="Password__squrl"/></a>
        <div class="Password__wrapper">
            <div class="Password__input">
                <script nonce="<%=nonce%>">
                    const init = () => {
                        let submit = document.querySelector('#submit');
                        submit.addEventListener('click', e => {
                            window.location.assign(`${window.location.href}+${document.querySelector('#key').value}`);
                        });
                    }
                    window.onload = init;
                </script>
                <form onclick="submitAttemptRedirect()">
                    <input tabindex="1" type="text" placeholder="enter session key to be redirected" id="key"/>
                    <input tabindex="2" type="button" value="Unlock" id="submit"/>
                </form>
            </div>
        </div>
        <div class="Password__disclaimer">
            <p>If you've stumbled across this page on accident, please ask the creator of the link for the session key.</p>
            <p>If you'd like to create your own shortened, end-to-end encrypted URL, please visit <a href="https://squrl.dev">squrl.dev!</a></p>
        </div>
    </body>
</html>